<div id = "warriors-legends-basic-stats-container">
    <section id = 'basic-stats-health-section'>
        <label for="basic-stats-health">Health</label>
        <span for="basic-stats-health-value"></span>
    </section>
    <section id = 'basic-stats-attack-section'>
        <label for="basic-stats-attack">Attack</label>
        <span for="basic-stats-attack-value"></span>
    </section>
    <section id = 'basic-stats-defense-section'>
        <label for="basic-stats-defense">Defense</label>
        <span for="basic-stats-defense-value"></span>
    </section>
</div>
