<div id = "warriors-legends-list-container">

    <section>
    <select name="warriors-legends-list-kingdom-select" id="warriors-legends-list-kingdom-select">
        <option value="SHU">SHU</option>
        <option value="WU">WU</option>
        <option value="JIN">JIN</option>
        <option value="WEI">WEI</option>
        <option value="OTHER">OTHER</option>
    </select>
    </section>
    <section id = "warriors-legends-list-section">
        <label id = "name-of-warrior-list"></label>
    </section>
</div>
